body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    overflow: hidden;
    background: #222;
}
.logo{
    color: #fff;
}
nav{
    height: 60px;
    line-height: 60px;
    float: right;
}
.main-navigation{
    float: right;
}
header nav ul li{
    list-style-type: none;
    display: inline-block;
    color: #fff;}
.container{
    width: 80%;
    margin: auto;
}
.homeside_one{
    margin-top: 10px;
    width: 50%;
    background: #ff2233;
    min-height: 300px;
    float: left;
}
.homeside_one .homeside_one_form_content{
    padding: 15px;
}
.homeside_one .homeside_one_form_content form input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.homeside_two{
    margin-top: 10px;
    width: 50%;
    min-height: 300px;
    float: left;
}
.homeside_two .homeside_two_content{
    padding: 15px;
    text-align: center;
}
.homeside_two .homeside_two_content img{
    width: 50px;
    height: 50px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
}