body{
    margin: 0;
    padding: 0;
}
header{
    background: #222;
    height: 80px;
    overflow: hidden;
}
header nav ul li{
    list-style-type: none;
    display: inline-block;
    color: #fff;
}
.container{
    width: 80%;
    margin: auto;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
}